@import"https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap";html,body,#root{width:100%;height:100%;margin:0;padding:0}body{background-color:#000;color:#fff;font-family:Archivo,sans-serif}
